
@tailwind base;
@tailwind components;
@tailwind utilities;


.content h1::after{
    content: "Frontend Developer";
    animation: textanim 4s linear infinite;
  }

@keyframes textanim{
    25%{
      content: "Mern-stack Developer";
    }
    50%{
      content: "React Developer";
    }
    75%{
      content: "Youtober";
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .profile-card-container {
    animation: rotate 10s linear infinite;
  }
  

 
/* 
  .radial-progress {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
  }
  
  .radial-progress::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(to right, transparent 80%, #fff 0);
    transform-origin: center center;
    transform: rotate(360deg);
    animation: rotate 10s linear infinite; 
  }
 
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */
  
  